<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.juggler.screenshotbutton">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ActMain"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActViewer"
            android:launchMode="singleTop"
            android:taskAffinity="jp.juggler.screenshotbutton.viewer"
            android:theme="@style/AppTheme.Viewer" />

        <activity
            android:name=".ActScreenCaptureIntent"
            android:launchMode="singleTop"
            android:taskAffinity="jp.juggler.screenshotbutton.asci"
            android:theme="@style/AppTheme.Transparent" />

        <service
            android:name=".CaptureServiceStill"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />

        <service
            android:name=".CaptureServiceVideo"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />

        <receiver android:name=".MyReceiver" />
    </application>

</manifest>